{% extends 'base.html' %}

{% block title %}
<title>City Detail</title>
{% endblock %}

{% block content %}
<h1>City Detail</h1>



    <div class="card">
        <div class="card-content">
            <span class="card-title"> {{ city.name }} </span>
            <span class="card-title"> {{ city.province }} </span>
            
            {% for photo in city.photo_set.all %}
            <img src="{{ photo.url }}" alt="{{ city.name }}" class="responsive-img card-panel">
            {%  empty %}
            <div class="card-panel blue-text center-align">No Photos Uploaded </div>
            {% endfor %}
            <form 
            action="{% url 'add_city_photo' city.id %}"
            enctype="multipart/form-data"
            method="POST"
            class="card-panel"
            >
            {% csrf_token %}
            <input type="file" name="photo-file"/>
            <br />
            <input type="submit" class="btn blue" value="Upload Photo" />
            
        </form>

           

        </div>
        <div class="card-action">
            <a href="{% url 'city_update' city.id %}">Update</a>
            <a href="{% url 'city_delete' city.id %}">Delete</a>
        </div>
    </div>



{% endblock %}
