{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .page-footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;

        }
    </style>
    <!-- <script defer src="{% static 'js/script.js' %}"></script> -->
    {% block title%}
    <title>Great Canadians</title>
    {% endblock %}
</head>
<body>
    <header class="navbar-fixed">
       <nav>
        <div class="nav-wrapper red darken-1">
            <a href="/" class="brand-logo left">Canadians 🇨🇦</a>
            <ul class="right">
                <li>
                    <a href="/about">Aboot</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'canadians_index' %}">View All Canadians</a>
                </li>
                <li>
                    <a href="{% url 'canadian_create' %}">Add a Canadian</a>
                </li>
                <li>
                    <a href="{% url 'cities_index' %}">View All Cities</a>
                </li>
                <li>
                    <a href="{% url 'city_create' %}">Add a City</a>
                </li>
                <li>
                    <a href="{% url 'snacks_index' %}">View All Snacks</a>
                </li>
                <li>
                    <a href="{% url 'snack_create' %}">Add a Snack</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"> Take off, eh </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
       </nav> 
    </header>
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer red darken-1">
        <p>All Rights Reserved, Copyright &copy; GreatCanadians 2023 &nbsp;</p>
    </footer>
</body>
</html>